
body {
	font-family: 'helvetica-w01-light', 'helvetica-w02-light','Source Sans Pro', sans-serif !important;
	font-size: 20px;
	line-height: 1.5;
	cursor: default;
}

p {
	font-size:1.2em;
}

.clearfix {
	content:"";
	clear:both;
}

.wrapper{
    max-width: 90%;
    margin: auto;
    margin-bottom: 50px;
    overflow: hidden;
    text-align: center;
}

.wrapper hr {
	margin-top:80px
}

h2 { 
	 margin-bottom: 30px !important;
	 padding-bottom: 30px !important;
	 text-align:center; 
   border-bottom: 1px solid gray;
}
/********* NAVIGATION **********/

#page-header .container {padding-left;: 0;padding-left: 0px;}
#page-header .navbar { border:none !important; }

#page-header .navbar.navbar-default {
	margin-bottom: 0;
	background-color: #fff;
}

#page-header .navbar .navbar-header h1 {
	margin-top:15px;
	text-align: center;
}

#page-header .navbar-header h1 a:link{
	text-decoration:none;
}

#page-header .navbar-header h1 a:visited{
	text-decoration:none;
}

#page-header .navbar-header h1 a:hover{
	text-decoration:none;
}

#page-header .navbar-header h1 a:active{
	text-decoration:none;
}
.grad {
	display: inline-block;
	width: 5px;
	height: 40px;
/*	background: linear-gradient(rgba(238,121,51,1),rgba(168,216,226,1));*/
  background: linear-gradient(rgba(238,121,51,1),rgba(0,70,133,1));
	margin: 0 5px;
	margin-bottom: -10px;
}

#page-header nav li a {
	display: block;
	color: #EE7933 !important;
	font-size: 1.3em;
	line-height: 2.2;
	text-transform:uppercase;
}

#page-header nav li a.licontact{
	border:1px solid blue;
	    padding: 1px 15px;
    margin-top: 14px;
	
}

ul.coverageareas{
	    z-index: 999;
    position: absolute;
    left:100px;
    top:150px
}

ul.coverageareas li {
	color: white;
	font-size: 24px;
}


.orange{ color: #EE7933;/* margin-right:7px; */}
/*.blue {color:  #A8D8E2;}/**/
.blue {color:   #004685;}

.estate-planning { color:rgb(238,121,51) ;}
.presale { color:rgb(95,190,222) ;}
/*.bankruptcy { color: rgb(111, 182, 134) ;}*/
.bankruptcy { color: rgb(109, 176, 42) }

.divorce { color: rgb(221, 58, 58);}
/********* CAROUSEL **********/
.carousel-inner {
	width:100%
}

.carousel-indicators {
}

.carousel-indicators li {
	height:15px !important;
	width:15px !important;
}

.carousel-inner .item img {
	width:100%;
	height: 600px !important;
}

ol.carousel-indicators {
	/* text-align: right !important; */
	/* padding-right: 30px; */
	/* bottom: 100px; */
}

.left.carousel-control{
	width:5%;
}

.right.carousel-control{
	width:5%;
}

.glyphicon-chevron-right {
	font-size:50px !important;
	    margin-right: 15px !important;;
}

.glyphicon-chevron-left:before {
	font-size:50px !important;
}

.carousel-caption {
	height: 350px;
	width: 400px;
	padding: 2% 4% !important;
	text-align: left !important;
	border-radius: 5%;
}

.carousel-caption h3{
	 font-size: 40px;
	 margin-top: 0px;
	 text-shadow: rgba(0, 0, 0, 0.85098) 0px 3px 3px;
}

.carousel-caption ul{
	 font-size: 15px;
	 margin-bottom:20px;
	 width:1024px;
}

.carousel-caption ul li {
	    font-weight: bold;
    font-size: 25px;
    float: left;
    margin-right: 20px;
}

.carousel-caption ul li.star{
	margin-top:8px;
}

.carousel-caption a {
	 transition: all .2s ease-in-out;
	 	text-decoration:none !important;
	 	 -webkit-transition: all 0.5s ease;
}

.carousel-caption a:visited {
	color:white;
		text-decoration:none !important;
}

.carousel-caption a:hover{
	color:white;
		text-decoration:none !important;
	transition: all .2s ease-in-out;
}

.carousel-caption a:active{
	color:white;
	text-decoration:none !important;z
}

.carousel-caption.estateplanning {
    background-color: rgba(238,121,51,.3);
    text-shadow: rgba(0, 0, 0, 0.85098) 0px 3px 3px;
}

.carousel-caption.estateplanning  h3 {
	/* color:#EE7933; */
	font-size: 30px;
}

.estateplanning a {
	border: 3px solid #EE7933;
}

.estateplanning a:hover{
	background-color:rgba(238,121,51,0.4);
}

.carousel-caption.presale {
   /* text-shadow: rgba(0, 0, 0, 0.85098) 0px 3px 3px;*/
   /*background: rgba(168,216,226,.4);*/
}

.presale h3{
	/* color: rgb(168, 226, 223); */
}

.presale a{
    border: 3px solid rgb(168, 226, 223);
    /*transition: all .2s ease-in-out;*/
}

.presale a:hover{
	background-color:rgba(168, 226, 223,0.4);
}

.bankruptcy{
/* 	 text-shadow: rgba(0, 0, 0, 0.85098) 0px 3px 3px; */
/* 	 background: rgba(111, 182, 134, 0.5); */
}

.carousel-caption.bankruptcy {
   /* text-shadow: rgba(0, 0, 0, 0.85098) 0px 3px 3px;*/
    /*background: rgba(111, 255, 134,0.4); */
     background:rgba(109, 176, 42,0.4) ;
}

.bankruptcy h3{
}

.bankruptcy a{
/* 	border: 3px solid rgb(109, 176, 42); */
}

.bankruptcy a:hover{
	background-color:rgba(111, 182, 134,0.4);
	transition: all .2s ease-in-out;
}

.carousel-caption.divorce {
	background-color: rgba(221, 58, 58,0.5);
}

.divorce h3{
}

.divorce a{
	border: 3px solid rgb(221, 58, 58);
}

.divorce a:hover{
	background-color:rgba(221, 58, 58,0.4);
	transition: all .2s ease-in-out;
}

.carousel-caption.presale {
	text-align: left;
	/* margin-left: 40px; */
}

#myCarousel .container {
	   width: 100%;
    padding: 0px;
}

.button {
    width: 20px;
    display: inline-block;
    width: 190px;
    border-radius: 200px;
    text-align: center;
    color: white;
    font-weight: bold;
    padding: 2%;
    font-size: 1.2em;
    text-decoration: none;
}


/********* SERVICES **********/

ul.services_blocks {
    position: relative;
    display: block;
    overflow: hidden;
    width: 95%;
    margin: 0 auto;
}

ul.services_blocks li {
    float: left;
    position: relative;
    width: 25%;  
    margin-bottom: 20px;
    padding: 20px;
/*     border: 2px solid #e3e3e3; */
    text-align: center;
    box-sizing: border-box;
        font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 200;
    color: #555;
}

ul.services_blocks li a {
	    display: inline-block;
	    /* height: 172px; */
	    width: 100%;
	    text-decoration: none;
	    padding: 20px;
	    color: black;
	    font-size: 20px;
	    font-weight:bold;
}

ul.services_blocks li p {
	font-size:.9em;
}

section .services {
	text-align:center;
	background-color: white;
}

.icon-sem h4 {
	font-size: 21px!important;
}




.services a:hover {
	text-decoration: none;
}


.services .container{/* width: 100%; */}

/*.services h2 {
	margin-bottom: 30px;
}*/

.services ul h3 {
	font-size:30px;
}

.service ul li {
	/* display:inline-block; */
	border-radius:10%;
	padding: 1%;
	/* margin:2%; */
	font-size: 0.9em;
	/* background: rgba(238,121,51,.4); */
	text-align: left;
}

.services .panel-primary .panel-body{
	overflow: scroll;
}

.services .panel-body.services-list{
	padding:5px;
}

.serviceLocations {
	float:right;
	width:30%;
}

ul.prod-list {
	list-style-type: none;
    padding: 0px;
    margin: 0px;
}
ul.prod-list li
{
	background-repeat: no-repeat;
	padding-left: 100px;
	margin-bottom: 40px;
	width: 100%;
}

ul.prod-list p {
	margin:0px
}

.icon-sem {
	/* background: url('http://i.yellowpages.com/d49_icon-sem_v1.gif') no-repeat top left; */
	text-align:left;
/*	background: url('../images/bankruptcy.png') no-repeat top left;
	background-size: 80px;*/
	}

.icon-sem i{
	float:left;
	margin-left:-90px;
}

.icon-sem a{
	    margin-bottom: 15px;
    display: block;
    font-size: 1.5em;
}

.icon-sem p {
	font-size:1.2em;
}
s

/********* TEAM MEMBERS **********/



section.team {
    background-color: rgb(255, 255, 255) !important;
    padding:70px 0px;
}

.team .team-description {
	font-size: 1.2em;
}

.team .blurb {
		margin: 0 auto;
		padding-bottom: 40px;
		width:80%;
		font-size: 20px;
		line-height: 1.8;
}

.members {
		width: 30%;
		/* margin: 0 auto; */
		/* text-align:center; */
		/* overflow: hidden; */
		/* float: left; */
		display: inline-block;
}

.member {
	/* float:left; */
	display: block;
	padding: 3% 0%;
	text-align:center;
	/* width: 20% !important; */
}

.member img {
			border-radius: 0%;
			/* height: 9%; */
			width: 75%;
			display: inline-block;
}

.member hr {
	    /* margin: 0 0 1.5rem; */
	    width: 4.5rem;
	    color: black;
	    background-color: black;
	    height: .2em;
}

.contact{
	  /*background-color: rgba(238,121,51,0.1);*/
	  text-align:center;
	  /* width: 35%!important; */
	  padding-left: 15px !important;
	  overflow: hidden;
	  /* margin-top: -20px; */
}

.contact h3{
	   	    margin-bottom: 20px;
    color: #004685;
    font-size: 36px;
}

.contact h4{
    margin-top: 20px;
    margin-bottom: 10px;
    text-align: left;

}

.contact ul li{
	      counter-increment: li;
    /* list-style-type: none; */
    margin: 0 0 0 10px;
    /* position: relative; */
}

.contact p {
	/* margin-top:12%; */
	/* width: 242px; */
}

p.callus{
	font-size: 32px;
    color: #004685;
}

.wrap{
		width: 76%;
		margin:30px auto;
		    overflow: hidden;
    padding: 10px;
}

.wrap .speakto{
	    float: left;
    width: 50%;
}

.wrap .speakto ul {
	    text-align: left;
	        font-size: 17px;
}

.wrap .icon {
	    background: url(../images/appraiser_seal_Gray.png) no-repeat 50% 8%;
    width: 387px;
    height: 295px;
    float: right;
    padding: 20px;
}
}
.contact p.callus{
    padding: 10px;
    border-radius: 20px;
    text-align: center;
    color: #004685;
}

ul li.check:before{
	color: #79a8cd;
	content: '\f058';
	font: normal normal 18px/0 'Fontawesome';
	margin-top: 13px;
	margin-right: 10px;
}

footer {
	background: black;
	color: white;
	padding: 2% 3%;
} 

footer span{
		float:left;
}

footer .text-center ul {
	    width: 90%;
	    x: 0 auto;
}




