		<div class="col-md-9 property-desc">
			<p>CONDO's Valuation of industrial properties can be challenging due to the number of factors that require careful consideration. Building amenities such as loading, clear height, overhead doors, cranes and craneways, heavy power, yard and interior storage, and many other factors must be evaluated in the process of appraising industrial facilities. From small owner/user buildings to large manufacturing and distribution facilities, we are experienced in appraising all types of industrial properties. Take a look below for a sample of some of our recent projects.</p>
		</div>

